
.icon-user:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */